In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine("postgresql://postgres:postgres@localhost:5433/nyc_taxi")

In [4]:
print(engine)

Engine(postgresql://postgres:***@localhost:5433/nyc_taxi)

In [5]:
df = pd.read_csv("taxi+_zone_lookup.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [7]:
df.to_sql(name="zones", con=engine, if_exists='replace')

265