In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("spark://Hema.:7077") \
    .appName('test') \
    .getOrCreate()

In [ ]:
spark

In [ ]:

df_green = spark.read.parquet('data/pq/green/*/*') # Read all the green taxi parquets

In [ ]:
df_green.columns

In [ ]:
# rename columns
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [ ]:
df_green.columns

In [ ]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [ ]:

df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [ ]:
print(type(df_yellow))

In [ ]:
# Get the common list of columns between the 2 data files
# set gives a unique set of columns

#common_colums = []

#yellow_columns = set(df_yellow.columns)

#for col in df_green.columns:
 #   if col in yellow_columns:
 #       common_colums.append(col)

In [ ]:
common_columns = ['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [ ]:

from pyspark.sql import functions as F

In [28]:
# Assign the literal 'green' as service type for green taxi data
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [29]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [30]:
# Union the 2 data files
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [31]:
df_trips_data.groupBy('service_type').count().show()  # Do a group by on service type

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [34]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [35]:
df_trips_data.registerTempTable('trips_data') # Create a temp table from the spark dataframe to run SQL

In [36]:
# The counts should match with the group by
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [37]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [38]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         112|2020-01-01 00:00:00|       green|  21761.030000000006|               1034.0|                  703.0|         2487.420000000001|           308.6100000000001|                    452.7000000000114|          27470.109999999626|                              742.25|        1.2766407904022583|      3.4783365695792856|
|         232|2020-02-01 00:00:00|       green|   5079.369999999998|               476.75|                   17.0|                       0.0|          184.35000000000005|                   52.799999999999855|           5810.269999999996|                                 0.0|                       1.0|       7.241874999999999|
|          58|2020-02-01 00:00:00|       green|  1198.6900000000003|                80.75|                   13.0|                     76.56|                       36.72|                   12.600000000000009|          1425.7700000000002|                                16.5|        1.1923076923076923|       5.657708333333335|
|         234|2020-02-01 00:00:00|       green|             1156.73|                110.0|                    2.5|                       0.0|           55.07999999999999|                   11.700000000000006|          1336.0099999999998|                                 0.0|                       1.0|       7.341794871794875|
|         245|2020-02-01 00:00:00|       green|   78.71000000000001|                 2.75|                    1.0|                       0.0|                       12.24|                                  0.6|                        95.3|                                 0.0|                       1.0|                  12.145|
|         117|2020-01-01 00:00:00|       green|  41693.880000000005|              1584.25|                  122.0|                      6.29|          2525.0299999999847|                    270.9000000000045|                    46202.35|                                 0.0|                       1.3|      13.908786885245878|
|         174|2020-02-01 00:00:00|       green|  26850.759999999987|               1982.5|                  280.0|                    365.88|                      895.38|                   324.30000000000655|           30758.31999999968|                                49.5|        1.2743538767395626|       5.429607329842932|
|         255|2020-03-01 00:00:00|       green|  21466.420000000002|                955.0|                  775.0|         3267.180000000003|          169.78000000000006|                    478.5000000000124|           27964.62999999967|                               978.0|        1.4516331658291457|      3.1941810344827615|
|         228|2020-03-01 00:00:00|       green|   9563.500000000004|                78.75|                   82.5|         258.6499999999999|          142.10000000000005|                   114.59999999999927|          10354.799999999988|                               52.25|        1.2658227848101267|       6.717624020887727|
|         263|2020-03-01 00:00:00|       green|  2475.3500000000004|                39.75|                   43.0|                    127.61|          104.04000000000002|                     48.2999999999999|          3002.5500000000015|                               148.5|        1.4651162790697674|       363.4869938650311|
|          28|2020-03-01 00:00:00|       green|  5891.0599999999995|                29.25|                   53.0|                     80.32|          195.84000000000006|                    84.29999999999956|           6368.820000000012|                                2.75|        1.2043795620437956|       5.802602739726024|
|          48|2020-03-01 00:00:00|       green|  1075.4900000000002|                 2.75|                    1.0|                       0.0|           75.21000000000001|                   10.500000000000004|                      1173.8|                                 0.0|                       1.0|      10.562000000000003|
|         210|2020-02-01 00:00:00|       green|   36605.99999999995|              2514.25|                  692.5|        1437.6600000000005|           667.5900000000003|                    558.6000000000066|           42487.60000000016|                                33.0|         1.175875486381323|       4.499913397860419|
|          85|2020-02-01 00:00:00|       green|  14506.020000000046|               1340.5|                  123.0|                     96.23|           230.9100000000001|                    174.3000000000009|          16511.659999999953|                                16.5|        1.1965317919075145|       4.288293460925041|
|         207|2020-03-01 00:00:00|       green|              462.44|                  0.0|                   18.5|                       0.0|                       18.36|                    13.20000000000001|           512.5000000000002|                                 0.0|         1.105263157894737|      1.9609090909090907|
|         166|2020-10-01 00:00:00|       green|            26511.82|               848.75|                 1011.0|        3142.7000000000007|           364.1000000000002|                    666.8999999999902|           33847.51999999947|                             1580.75|        1.3102601865488464|       2.569059561128527|
|         117|2020-10-01 00:00:00|       green|   8601.479999999992|                 14.0|                   19.5|                    517.85|           482.6200000000011|                   56.999999999999815|           9695.200000000008|                                 0.0|                       1.0|      13.667421052631582|
|         193|2008-12-01 00:00:00|       green|                 0.0|                  0.0|                    0.0|                       0.0|                         0.0|                                  0.0|                         0.0|                                 0.0|                       1.0|                     0.0|
|         192|2020-01-01 00:00:00|       green|             8618.38|               395.25|                   63.5|         374.9299999999999|           54.04999999999999|                     90.2999999999995|           9608.110000000004|                                 0.0|        1.3060109289617485|       5.159457142857144|
|          47|2020-02-01 00:00:00|       green|  13825.300000000041|              1181.25|                  122.5|                     66.66|          458.97000000000025|                    174.6000000000009|          15851.979999999945|                                11.0|        1.1617021276595745|       4.698445512820509|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [ ]:
df_result.write.parquet('data/report/revenue/') # Creates a file for each month

In [ ]:
#df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite') # Appends all the individial files into one file